<footer class="footer">
    <div class="grid wide">
        <div class="row">
            <div class="col l-3 m-6 c-12">
                <a href="/" class="footer-logo">
                <div class="footer-logo__icon"></div>
                </a>
                <p>F8 là nơi học lập trình miễn phí.</p>
                <p>Các khoá học được đầu tư kỹ lưỡng từ nội dung tới chất lượng hình ảnh và âm thanh.</p>
                <p>Học viên có thể học từ con số 0 tới khi trở thành lập trình viên chuyên nghiệp tại đây.</p>
                <p style="margin-top: 32px;">© 2019 MyCV JSC. All rights reserved</p>
            </div>

            <div class="col l-2 m-3 c-12 footer-heading">
                <h1 class="">F8</h1>
                <ul>
                    <li>
                        <a href="#">Giới thiệu</a>
                    </li>
                    <li>
                        <a href="#">Câu hỏi thường gặp</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2 m-3 c-12 footer-heading">
                <h1 class="">Sản phẩm</h1>
                <ul>
                    <li>
                        <a href="#">MyCV.vn</a>
                    </li>
                    <li>
                        <a href="#">Fullstack.edu.vn</a>
                    </li>
                </ul>
            </div>

            <div class="col l-2 m-6 c-12 footer-heading">
                <h1 class="">Hỗ trợ</h1>
                <ul>
                    <li>
                        <a href="#">Hỗ trợ</a>
                    </li>
                    <li>
                        <a href="#">Đóng góp</a>
                    </li>
                </ul>
            </div>

            <div class="col l-3 m-6 c-12 footer-heading">
                <h1 class="">Theo dõi chúng tôi</h1>
                <p>Nhập email để đăng ký nhận những thông tin hữu ích về học tập từ F8</p>
                <input type="email" placeholder="Email của bạn..." value="">
                <button href="#" class="footer-button">Đăng ký</button>
            </div>
        </div>
    </div>
</footer>