<header class="header">
  <div class="grid wide">
  <nav class="header-navbar">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <div class="header-logo__icon"></div>
      </a>
    </div>

    <div class="header-navbar__opition">
      <ul class="header-navbar__list hide-on-mobile-tablet">
      <li>
        <a href="/">TRANG CHỦ</a>
      </li>
      <li>
        <a href="/courses">KHÓA HỌC</a>
      </li>
      <li class="header-navbar__item">
        <a href="#" class="header-navbar__link">CỘNG ĐỒNG</a>
          <ul class="header-navbar__social">
            <li>
              <a href="#">F8 Offical Channel</a>
            </li>
            <li>
              <a href="#">F8 Facebook Group</a>
            </li>
            <li>
              <a href="#">F8 Tạo Cv xin Việc</a>
            </li>
          </ul>
      </li>
      </ul>

      <ul class="header-navbar__vali hide-on-mobile-tablet">
      <li class="header-navbar__login">
        <a href="/login">Đăng nhập</a>
      </li>
      <li class="header-navbar__separate"></li>
      <li class="header-navbar__login">
        <a href="/signup">Đăng ký</a>
      </li>
      </ul> 
    </div>

    <div class="navbar-menu-icon hide-on-pc">
      <i class="fas fa-bars"></i>
    </div>
  </nav>
</div>
</header>